::selection {
	background: #F2A7A7;
	color: #fff;
}
::-moz-selection {
	background: #F2A7A7;
	color: #fff;
}

body::-webkit-scrollbar {
  display: none !important;
}
body {
  -ms-overflow-style: none !important;
}

html {
  overflow: -moz-hidden-unscrollable !important; /*注意！若只打 hidden，chrome 的其它 hidden 會出問題*/
  height: 100%;
}

body {
height: 100% !important;
width: calc(100vw + 18px); /*瀏覽器滾動條的長度大約是 18px*/
overflow: auto;
}
.width-1000 {
  width: 1000px !important;
  max-width:1000px !important;
}

.fix-nav{
  position: fixed;
  left: 0;
  top: 0;
  z-index: $zindex-dropdown;
  width: 100vw;
  height:6vh;
  @include media-breakpoint-up(lg) {
    &{
      width: 7vw;
      height: 100%;
    }
   }
}
.nav_img{
  width: 120px;
  height: 22px;
  @include media-breakpoint-up(lg) {
    &{
      transform: rotate(-0.25turn);
    }
   }
}
.burger{
  width: 18px;
  height: 18px;
  left:15px;
  @include media-breakpoint-up(lg) {
    top:35px;
    left: 3vw;
   }
}
// navBar
.secondary_line{
  width: 100%;
  height: 1px;
  margin:3px 0;
  background: $secondary;
}
.white_line{
  width: 100%;
  height: 3px;
  margin:3px 0;
  background: $white;
  &:nth-child(1){
    transform: translateY(10px) rotate(-45deg);
  }
  &:nth-child(2){
    transform: translateY(4px) rotate(45deg);
  }
}
.transition{
  transition: all 0.4s ease-in-out;
}
.transform{
  transform: translate(-75vw);
}
.nav-close{
  width: 30px;
  height: 30px;
  left: 20px;
  top:20px;
  cursor: pointer;
}
.text-hoverline{
  cursor: pointer;
}
// navBar active
.fulid-bg{
  background-image: url(../img/hero_img.png);
  @include media-breakpoint-up(lg) {
    &{
      height: 100vh !important;
      width:auto;
    }
   }
   @include media-breakpoint-up(xs) {
    &{
      height: 520px;
      width: 100vw !important;
    }
   }
}
.bg-cover{
  background-size:cover;
  background-repeat: no-repeat;
}

.bg-position-center{
  background-position: center;
}

.hero-bg-position{
  @include media-breakpoint-up(xs) {
    &{
      background-position:center -50px;
      order:2;
    }
   }
   @include media-breakpoint-up(md) {
    &{
      background-position:0px -95px;
    }
   }
  @include media-breakpoint-up(lg) {
    &{
      background-position:center 0px;
    }
   }
}
.hero-text{
  @include media-breakpoint-up(lg) {
    &{
      width: auto;
      margin-top:175px;
      order:2;
    }
   }
  margin:80px auto 0 auto;
  order:1;
}
// hero

.bd-callout-primary{
  border-left:5px solid #F2A7A7 !important;
}

.marquee-container{
  overflow: hidden;

}
.content{
  display:inline;
  width: 400px;
  height: 400px;
}
@keyframes marquee-key {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: linear;
  }
  100% {
    transform: translate3d(-3800px, 0px, 0px);
    animation-timing-function: linear;
  }
}
.marquee{
  transform: translate(0px,0);
  animation-name:marquee-key;
  animation-duration: 30s;
  animation-timing-function:ease-in-out;
  animation-iteration-count:infinite;
  animation-direction:alternate;
  animation-fill-mode:forwards;
  animation-play-state:running;
}


// 跑馬燈
.cover{
  position: relative;
  overflow: hidden;
  cursor: pointer;
  a{
    cursor: pointer;
    opacity: 0;
    display:block;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0px,-20px);
    &:hover{
      opacity: 1;
      transform: translate(0px,0);
    }
  }
}
// cover
.text-btn{
  border-bottom:2px solid $black;
  position: relative;
  text-decoration:none;
  &:hover{
    text-decoration: none !important;
    border-bottom:2px solid $primary;
  }
  &::after{
    content: '◂';
    position: absolute;
    left: -10px;
    transition:all 0.1s ease-in-out;
  }
  &:hover::after{
   left:-15px;
  }
}